@media (min-width: 600px) and (min-width: 1023px) {

    body{
        font-size: 18px;
    }  
}

@media (min-width: 1024px) {

    body{
        font-size: 20px;
    }

    header{
        position: relative;
        top: 0;
        height: 96px;
    }

.navigation{

    &__btn{
        display: none;
    }

    &__menu{
        position: relative;
        display: flex;
        top: 0;
        background: none;
        margin: 0;
        justify-content: space-between;
        
    }

    &__list{
        display: flex;
        margin-left: 80px;
    }

    &__item{
        margin: 0 64px 0 0 !important;
        font-size: 12px;

        & a{
        color: $c-text--white;
        text-transform: uppercase;

            &::before{
            background: none !important;
            }
        }
    }

    &__subNav{
        position: relative;
        width: 128px;
        right: 0;
        margin: 0 16px 0 0;
        height: 32px;
        display: flex;
        justify-content: center;
        background-color: $c-bg--white;
        cursor: pointer;

        & a:last-of-type{
            font-size: 12px;
            color: $c-text;
        }
    }

    &__network{
        display: none;
    }
}




.main{
    width: calc(100% - 32px);
    height: calc(100vh - 192px);
    margin: 0 16px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    //grid-template-rows: 2fr 1fr;
    grid-gap: 16px;
    min-height: 680px;

}

.section{
    margin: 0;
    width: 100%;
    //height: 50vh;
    justify-content: flex-start;
}

.section-home{
    margin-top:0;
    grid-column: 1/-1;
    grid-row: 1/2;
    height: auto;
    min-height: 400px;

    &__container{
        width: auto;
        height: auto;
        position: relative;
        align-items: flex-end;

        &__title{
            max-width: 100%;

        }
    }

    &__title{
        rotate: 0deg;
        margin: 30px 0 0 0;

    }

    &__subtitle{
        position: relative;
        width: auto;
        margin-top: 16px;
        line-height: 1;        
        margin: 16px 72px 0 0;
        font-weight: 200;

        &::after{
            background-image: none;
        }
    }
}

.section-intro{
    grid-column: 1/6;
    grid-row: 2/3;
    padding: 32px 0 16px 0;
    //height: 240px;

    &__p{
        margin: 32px 32px 0 32px;
        font-weight: 500;

        &:nth-of-type(1){
            margin: 0 16px 0 32px;
        }

        & span{
            font-weight: 700;
        }
    }
}

.section-content{
    height: 0px;
    display: block;
    grid-column: 1/-1;
    padding: 32px 0;
    grid-row: 3/4;
    transition: height 0.5s ease-in forwards;
    cursor: pointer;

    &::after{
        top: 16px;
    }
}

    

.section-navigation{
    grid-column: 6/-1;
    grid-row: 2/3;
    //height: 240px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    
    

    & div:first-child{
        margin-left: 16px;
    }

    & div:last-child{
        margin-right: 16px;
    }

    &__item{
        border-radius: 10px;
        margin: 16px 8px;
        position: relative;
        transition: all 0.2s ease-in-out;
        cursor: pointer;

        & svg{
            margin: 0;
            display: block;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            filter: blur(10px);
            height: 80px;
            width: 120px;

        }
    }

    & .transition-section--hover{
        width: auto;
        height: auto;
        background-color: $c-bg--body;
    }

    & .transition-section--hover--waiting path{
        fill: $c-bg--section;
    }
}

@for $i from 0 through 5 {

    .section-navigation__item:nth-of-type(#{$i + 1})::after {
        content: '';
        position: absolute;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin: auto;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        width: 64px;
        height: 64px;
    }

    .transition-section--hover--waiting:nth-of-type(#{$i + 1})::after {
        background-image: url("../assets/images/picto#{$i + 1}.svg");
    }

    .transition-section--hover:nth-of-type(#{$i + 1})::after{
        background-image: url("../assets/images/pictoWait#{$i + 1}.svg");
    }

    .section-navigation__item:nth-of-type(3)::after{
        width: 48px;
    }
        
    }

.contentFade{
    display: block !important;
    height: 180px;
    
    
}



.footer{
    height: 96px;
    margin: 0;
}
}

