//Navigation
header{
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 64px;
    z-index: 500;
    background-color: $c-bg--body;
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    &__title {
        margin:0 0 0 16px;
        font-size: 1rem;
        font-family: $family-text--title;
        font-weight: 800;
    }

    &__btn{
        margin: 0 16px 0 0;
        width: 32px;
        height: 32px;

        &:hover > .rect{
            fill: url(#gradient); 
        }
    }

    &__menu{
        position: fixed;
        background-color: $c-bg--white;
        top: -100%;
        left: 0;
        width: calc(100% - 32px);
        height: calc(100% - 16px);
        margin: 0 16px;
        border-radius: 0 0 10px 10px ;
        display: flex;
        align-items: center;
        transition: all .5s ease-out;
        z-index: 500;

        & svg{
            position: absolute;
            right: 0;
            top: 16px;
        }

        &--open{
            top: 0;
        }
    }

    &__list {
        margin: 0 0 0 32px;
        font-size: 2.618rem;
        font-family: $family-text--corps;
        text-transform: capitalize;
        line-height: 1;

        & > :not(:first-child){
            margin-top: 32px;
        }

        & a {
            color: $c-text;
        }
    }

    &__subNav{
        position: absolute;
        bottom: 0;
        left: 0;
        width: calc(100% - 32px);
        margin: 0 16px 16px 16px;
        background-color: $c-bg--section;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        & > * {
            margin: 0 16px;
        }

        & a {
            color: $c-text--white;
            font-weight: 700;
        }
    }

    &__network{
        display: flex;
        height: 48px;
        align-items: center;
        

        & > * {
            display: block;
            width: 24px;
            height: 24px;
            color: transparent;
            background-position: center;
            background-repeat: no-repeat;
            margin-right: 16px;
        }

        & > :first-child{
            background-image: url(../../assets/images/instagram.svg); 
        }

        & > :nth-child(2){
            background-image: url(../../assets/images/twitter.svg); 
        }

        & > :nth-child(3){
            background-image: url(../../assets/images/web.svg); 
        }

        & a{
            display: block;
            width: 100%;
            height: 100%;
        }
    }
}

//Navigation

////////////////////////////////

// Section Home



.section-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    
    height: calc((var(--vh, 1vh) * 100) - 32px);
    text-align: center;
    margin: 16px 16px;

    &__container{
        position: absolute;
        top: 50%;
        translate :0 -50%;

    }

    &__title{
        font-size: 4.236rem;
        line-height: 0.8;
        rotate: -90deg;
        & span {
            display: inline-block;
        }
    }

    &__subtitle{
        font-weight: 300;
        width: 150px;
        font-size: 1rem;
        margin-bottom: 16px;

        &::after{
            content: '';
            display: block;
            background-image: url(../assets/images/arrow_home.svg);
            background-position: center;
            background-repeat: no-repeat;
            width: 8px;
            margin: 16px auto 0 auto;
            height: 15px;
        }
    }
}

// Section Home

////////////////////////////////

// Section Intro

.section-intro {
    padding: 8px 0;
    margin-top: 96px;
    font-weight:200;
 
    &__p{
        color : $c-text--white;
        margin: 0px 24px 0 16px;

        &:nth-of-type(2){
            margin-top: 24px;
        }
    }

    & span{
        background: linear-gradient(135deg, rgba(140,140,192,1) 0%, rgba(134,168,231,1) 50%, rgba(95,251,241,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
        font-weight: 600;
    }
}

// Section Intro

////////////////////////////////

// Section Content

.section-content {
    padding:32px 0 ;
    background-color: $c-bg--white;
    color: $c-text;
    width: 100%;
    margin: 8px 0;
    transition: all .3s ease-in-out;
    transform-origin: center center;

    &::after {
        content: '';
        position: absolute;
        background-image:url(../assets/images/cross_section.svg);
        background-repeat: no-repeat;
        background-position: center;
        width: 16px;
        height: 16px;
        top: 16px;
        right: 16px;
   }

    &__subTitle:last-of-type{
        margin-top: 24px;
    }

    & p {
        margin: 16px 32px;

        & a{
            font-weight: 600;
        }
    }

    &__p--bold{
        font-weight: 700;
        margin-right: 72px !important;

      
    }

    &__p--big{
        font-weight: 700;
        text-transform: uppercase;
        
    }

    &__p--quote{
        margin: 0 auto !important;
        width: 60%;
        &::before{
            content: "";
            display: block;
            width: 21px;
            aspect-ratio: 1/1;
            background-image:url(../assets/images/quote.svg) ;
            background-repeat: no-repeat;
            background-position: center;
            margin: 0 0 0 -24px;
        }
    }

    &__p--thin{
        font-weight: 400;
    }

    &__list{
        font-family: 'Syne', sans-serif;
        font-weight: 500;
        list-style-type: square;
        margin-left: 16px;
        padding-left: 40px;
        margin-right: 32px;

        &-item{
            margin-bottom: 16px;

            & p {
                font-family: $family-text--corps;
                margin: 24px 0 24px -24px;
            }
        }
    }

    &__digit{
        font-weight: 700;

        &:first-of-type{
            margin-bottom: 100px;
            margin-right: 8px;
        }

        &:last-of-type{
            margin-top: 100px;
            margin-left: 8px;
        }
    }

    &:nth-of-type(4) .section-content__list:last-of-type .section-content__list-item {
        font-family: $family-text--corps;
        font-weight: 400;
        font-style: italic;

        &:first-child{
        list-style-image:url(../assets/images/dot1.svg) ;
        }

        &:last-child{
            list-style-image:url(../assets/images/dot2.svg) ;
            }
    }

    &:nth-of-type(5) .section-content__p--bold {
        margin-right: 32px !important ;
    }

    &:nth-of-type(6) .section-content__p--bold:last-of-type{
        text-align: center;
        margin-left: auto;
        margin-right: auto !important;
        width: 80%;

        &::before{
            content: "";
            display: block;
            width: 21px;
            aspect-ratio: 1/1;
            background-image:url(../assets/images/quote.svg) ;
            background-repeat: no-repeat;
            background-position: center;
            margin: auto auto 8px auto;
        }
    }
    @for $i from 0 through 5 {

    &:nth-of-type(#{$i + 1}) .section-content__picto {
        background-image: url("../assets/images/picto#{($i - 1) + 1}.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin: 32px auto ;
        width: 80px;
        height: 80px;
      }
        
    }

    &:nth-of-type(4) div:nth-of-type(2){
        width: 60px;
    }

    &__container{
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

// Section Content

////////////////////////////////

// Footer

.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;

    & > * {
        margin: 0 16px;
    }

    & a {
        color: $c-text--white;
        font-weight: 700;
    }

    &__list{
        display: flex;
        height: 48px;
        align-items: center;
        

        & > * {
            display: block;
            width: 24px;
            height: 24px;
            color: transparent;
            background-position: center;
            background-repeat: no-repeat;
            margin-right: 16px;
        }

        & > :first-child{
            background-image: url(../assets/images/instagram.svg); 
        }

        & > :nth-child(2){
            background-image: url(../assets/images/twitter.svg); 
        }

        & > :nth-child(3){
            background-image: url(../assets/images/web.svg); 
        }

        & a{
            display: block;
            width: 100%;
            height: 100%;
        }
    }

    &__container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__copyright{
        font-weight: 700;
        margin-right: 8px;
    }

    &__dwt{
        background-image: url("../assets/images/dwt.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 48px;
        height: 16px;
    }
}


// Footer

////////////////////////////////

// Transition styles Section

.transition-section--active{
    height: 176px ;
    overflow: hidden;
    margin-left: 16px;
    margin-right: 16px;
    width: calc(100% - 32px);
    padding: 16px 0 0 0 ;
    background: linear-gradient(135deg, rgba(140,140,192,1) 0%, rgba(134,168,231,1) 50%, rgba(95,251,241,1) 100%);

     &::after {
         content: '';
         position: absolute;
         background-image:url(../assets/images/arrow_section.svg);
         background-repeat: no-repeat;
         background-position: center;
         width: 16px;
         height: 8px;
        top: calc(100% - 24px);
        right: 16px;
    }

    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(135deg, rgba(140,140,192,1) 0%, rgba(134,168,231,1) 50%, rgba(95,251,241,1) 100%);
        -webkit-mask-image: linear-gradient(0deg, rgba(140,140,192,1) 0%,rgba(139,143,197,1) 5%, rgba(134,168,231,0) 50%, rgba(95,251,241,0) 100%);
        mask-image: linear-gradient(0deg, rgba(140,140,192,1) 0%,rgba(139,143,197,1) 5%, rgba(134,168,231,0) 50%, rgba(95,251,241,0) 100%);
        mask-size: 100% 100%;
    }
}

.transition-section--hover{
    height: 80px;
    overflow: hidden;
    margin-left: 16px;
    margin-right: 16px;
    width: calc(100% - 32px);
    padding: 0;

    &::after{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        content: '';
        width: 32px;
        height: 32px;
    }

    & > * {
        display: none;
    }

    &:nth-of-type(4)::after{
        height: 42px;
    }
}

@for $i from 0 through 5 {

    .transition-section--hover:nth-of-type(#{$i + 1})::after {
        background-image: url("../assets/images/picto#{($i - 1) + 1}.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        
    }
        
    }

// Transition styles Section