@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap");
html {
  height: 100%;
  width: 100%;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.24;
  color: #EBEBEB;
  background-color: #1E1E1E;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 500;
  height: 100%;
  width: 100%;
  margin: 0;
}

.title {
  color: #2A2A2A;
}

h1, h3 {
  font-weight: 800;
  font-family: "Syne", sans-serif;
  z-index: 500;
  position: relative;
}

h3 {
  margin: 0 8px 0 16px;
  font-size: 1.618rem;
}

h4 {
  margin: 16px 8px 24px 16px;
  font-size: 1rem;
  font-family: "Syne", sans-serif;
  font-weight: 700;
}

a {
  color: #55559B;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

svg {
  height: 160px;
  width: 160px;
}
svg g {
  margin: 0 auto;
}

.section {
  position: relative;
  margin: 8px 16px;
  width: calc(100% - 32px);
  background-color: #2A2A2A;
  border-radius: 10px;
}

.footer {
  margin-top: 8px;
  background-color: #1E1E1E;
  border-radius: 10px 10px 0 0;
}

.section-content svg {
  display: none;
}

header {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 64px;
  z-index: 1000;
  background-color: #1E1E1E;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.navigation__title {
  margin: 0 0 0 16px;
  font-size: 1rem;
  font-family: "Syne", sans-serif;
  font-weight: 800;
}
.navigation__btn {
  margin: 0 16px 0 0;
  width: 32px;
  height: 32px;
}
.navigation__btn:hover > .rect {
  fill: url(#gradient);
}
.navigation__menu {
  position: fixed;
  background-color: #EBEBEB;
  top: -100%;
  left: 0;
  width: calc(100% - 32px);
  height: calc(100% - 16px);
  margin: 0 16px;
  border-radius: 0 0 10px 10px;
  display: flex;
  align-items: center;
  transition: all 0.5s ease-out;
  z-index: 500;
}
.navigation__menu svg {
  position: absolute;
  right: 0;
  top: 16px;
}
.navigation__menu--open {
  top: 0;
}
.navigation__list {
  margin: 0 0 0 32px;
  font-size: 2.618rem;
  font-family: neue-haas-grotesk-display, sans-serif;
  text-transform: capitalize;
  line-height: 1;
}
.navigation__list > :not(:first-child) {
  margin-top: 32px;
}
.navigation__list li:first-child a::before {
  background-image: url(../assets/images/menuSvg.svg);
}
.navigation__list li a::before {
  content: "";
  position: absolute;
  left: 0;
  width: 140px;
  height: 21px;
  margin: 16px 0 0 32px;
  filter: blur(7px);
  z-index: -1;
  background-repeat: no-repeat;
}
.navigation__list a {
  color: #2A2A2A;
}
.navigation__subNav {
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% - 32px);
  margin: 0 16px 16px 16px;
  background-color: #2A2A2A;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation__subNav > * {
  margin: 0 16px;
}
.navigation__subNav a {
  color: #EBEBEB;
  font-weight: 700;
}
.navigation__network {
  display: flex;
  height: 48px;
  align-items: center;
}
.navigation__network > * {
  display: block;
  width: 24px;
  height: 24px;
  color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 16px;
}
.navigation__network > :first-child {
  background-image: url(../assets/images/instagram.svg);
}
.navigation__network > :nth-child(2) {
  background-image: url(../assets/images/twitter.svg);
}
.navigation__network > :nth-child(3) {
  background-image: url(../assets/images/web.svg);
}
.navigation__network a {
  display: block;
  width: 100%;
  height: 100%;
}

.section-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  overflow: hidden;
  height: calc(var(--vh, 1vh) * 100 - 32px);
  text-align: center;
  margin: 16px 16px;
}
.section-home__container {
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  z-index: 500;
}
.section-home__title {
  font-size: 4.236rem;
  line-height: 0.8;
  rotate: -90deg;
}
.section-home__title span {
  display: inline-block;
}
.section-home__subtitle {
  font-weight: 300;
  width: 150px;
  font-size: 1rem;
  margin-bottom: 16px;
}
.section-home__subtitle::after {
  content: "";
  display: block;
  background-image: url(../assets/images/arrow_home.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 8px;
  margin: 16px auto 0 auto;
  height: 15px;
}

.section-intro {
  padding: 8px 0;
  margin-top: 96px;
  font-weight: 200;
}
.section-intro__p {
  color: #EBEBEB;
  margin: 0px 24px 0 16px;
}
.section-intro__p:nth-of-type(2) {
  margin-top: 24px;
}
.section-intro span {
  background: linear-gradient(135deg, rgb(140, 140, 192) 0%, rgb(134, 168, 231) 50%, rgb(95, 251, 241) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-weight: 600;
}

.section-content__graph {
  display: block !important;
}

.section-content {
  padding: 32px 0;
  background-color: #EBEBEB;
  color: #2A2A2A;
  width: 100%;
  margin: 8px 0;
  transition: all 0.5s ease-out;
  transform-origin: center center;
  overflow: hidden;
}
.section-content::after {
  content: "";
  position: absolute;
  background-image: url(../assets/images/cross_section.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 16px;
  height: 16px;
  top: 16px;
  right: 16px;
}
.section-content__subTitle:last-of-type {
  margin-top: 24px;
}
.section-content p {
  margin: 16px 32px;
}
.section-content p a {
  font-weight: 600;
}
.section-content__p--bold {
  font-weight: 700;
  margin-right: 72px !important;
}
.section-content__p--big {
  font-weight: 700;
  text-transform: uppercase;
}
.section-content__p--quote {
  margin: 0 auto !important;
  width: 60%;
}
.section-content__p--quote::before {
  content: "";
  display: block;
  width: 21px;
  aspect-ratio: 1/1;
  background-image: url(../assets/images/quote.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 0 0 -24px;
}
.section-content__p--thin {
  font-weight: 400;
}
.section-content__list {
  font-family: "Syne", sans-serif;
  font-weight: 500;
  list-style-type: square;
  margin-left: 16px;
  padding-left: 40px;
  margin-right: 32px;
}
.section-content__list-item {
  margin-bottom: 16px;
}
.section-content__list-item p {
  font-family: neue-haas-grotesk-display, sans-serif;
  margin: 24px 0 24px -24px;
}
.section-content__digit {
  font-weight: 700;
}
.section-content__digit:first-of-type {
  margin-bottom: 100px;
  margin-right: 8px;
}
.section-content__digit:last-of-type {
  margin-top: 100px;
  margin-left: 8px;
}
.section-content:nth-of-type(4) .section-content__list:last-of-type .section-content__list-item {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 400;
  font-style: italic;
}
.section-content:nth-of-type(4) .section-content__list:last-of-type .section-content__list-item:first-child {
  list-style-image: url(../assets/images/dot1.svg);
}
.section-content:nth-of-type(4) .section-content__list:last-of-type .section-content__list-item:last-child {
  list-style-image: url(../assets/images/dot2.svg);
}
.section-content:nth-of-type(5) .section-content__p--bold {
  margin-right: 32px !important;
}
.section-content:nth-of-type(6) .section-content__p--bold:last-of-type {
  text-align: center;
  margin-left: auto;
  margin-right: auto !important;
  width: 80%;
}
.section-content:nth-of-type(6) .section-content__p--bold:last-of-type::before {
  content: "";
  display: block;
  width: 21px;
  aspect-ratio: 1/1;
  background-image: url(../assets/images/quote.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin: auto auto 8px auto;
}
.section-content:nth-of-type(1) .section-content__picto {
  background-image: url("../assets/images/picto0.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 32px auto;
  width: 80px;
  height: 80px;
}
.section-content:nth-of-type(2) .section-content__picto {
  background-image: url("../assets/images/picto1.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 32px auto;
  width: 80px;
  height: 80px;
}
.section-content:nth-of-type(3) .section-content__picto {
  background-image: url("../assets/images/picto2.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 32px auto;
  width: 80px;
  height: 80px;
}
.section-content:nth-of-type(4) .section-content__picto {
  background-image: url("../assets/images/picto3.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 32px auto;
  width: 80px;
  height: 80px;
}
.section-content:nth-of-type(5) .section-content__picto {
  background-image: url("../assets/images/picto4.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 32px auto;
  width: 80px;
  height: 80px;
}
.section-content:nth-of-type(6) .section-content__picto {
  background-image: url("../assets/images/picto5.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 32px auto;
  width: 80px;
  height: 80px;
}
.section-content:nth-of-type(4) div:nth-of-type(2) {
  width: 60px;
}
.section-content__container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-content__svg {
  top: -10px;
  right: -60px;
  filter: blur(10px);
  height: 160px;
  width: 150px;
  display: block !important;
  position: absolute;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer > * {
  margin: 0 16px;
}
.footer a {
  color: #EBEBEB;
  font-weight: 700;
}
.footer__list {
  display: flex;
  height: 48px;
  align-items: center;
}
.footer__list > * {
  display: block;
  width: 24px;
  height: 24px;
  color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 16px;
}
.footer__list > :first-child {
  background-image: url(../assets/images/instagram.svg);
}
.footer__list > :nth-child(2) {
  background-image: url(../assets/images/twitter.svg);
}
.footer__list > :nth-child(3) {
  background-image: url(../assets/images/web.svg);
}
.footer__list a {
  display: block;
  width: 100%;
  height: 100%;
}
.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__copyright {
  font-weight: 700;
  margin-right: 8px;
}
.footer__dwt {
  background-image: url("../assets/images/dwt.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 48px;
  height: 16px;
}

.transition-section--hover {
  height: 80px;
  overflow: hidden;
  margin-left: 16px;
  margin-right: 16px;
  width: calc(100% - 32px);
  padding: 0;
  background-color: #2A2A2A;
}
.transition-section--hover svg {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  filter: blur(10px);
  height: 80px;
  width: 120px;
}
.transition-section--hover::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  width: 32px;
  height: 32px;
}
.transition-section--hover > * {
  display: none;
}
.transition-section--hover:nth-of-type(4)::after {
  height: 42px;
}

.transition-section--hover:nth-of-type(1)::after {
  background-image: url("../assets/images/pictoWait0.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.transition-section--hover:nth-of-type(2)::after {
  background-image: url("../assets/images/pictoWait1.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.transition-section--hover:nth-of-type(3)::after {
  background-image: url("../assets/images/pictoWait2.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.transition-section--hover:nth-of-type(4)::after {
  background-image: url("../assets/images/pictoWait3.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.transition-section--hover:nth-of-type(5)::after {
  background-image: url("../assets/images/pictoWait4.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.transition-section--hover:nth-of-type(6)::after {
  background-image: url("../assets/images/pictoWait5.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.transition-section--hover--waiting {
  background-color: #EBEBEB;
}
.transition-section--hover--waiting svg path {
  fill: #2A2A2A;
}

.transition-section--hover--waiting:nth-of-type(1)::after {
  background-image: url("../assets/images/picto0.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.transition-section--hover--waiting:nth-of-type(2)::after {
  background-image: url("../assets/images/picto1.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.transition-section--hover--waiting:nth-of-type(3)::after {
  background-image: url("../assets/images/picto2.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.transition-section--hover--waiting:nth-of-type(4)::after {
  background-image: url("../assets/images/picto3.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.transition-section--hover--waiting:nth-of-type(5)::after {
  background-image: url("../assets/images/picto4.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.transition-section--hover--waiting:nth-of-type(6)::after {
  background-image: url("../assets/images/picto5.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.transition-section--active {
  height: 176px;
  overflow: hidden;
  margin-left: 16px;
  margin-right: 16px;
  width: calc(100% - 32px);
  padding: 16px 0 0 0;
  background: linear-gradient(135deg, rgb(140, 140, 192) 0%, rgb(134, 168, 231) 50%, rgb(95, 251, 241) 100%);
}
.transition-section--active::after {
  content: "";
  position: absolute;
  background-image: url(../assets/images/arrow_section.svg) !important;
  background-repeat: no-repeat;
  background-position: center;
  width: 16px;
  height: 8px;
  top: calc(100% - 24px);
  right: 16px;
}
.transition-section--active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, rgb(140, 140, 192) 0%, rgb(134, 168, 231) 50%, rgb(95, 251, 241) 100%);
  -webkit-mask-image: linear-gradient(0deg, rgb(140, 140, 192) 0%, rgb(139, 143, 197) 5%, rgba(134, 168, 231, 0) 50%, rgba(95, 251, 241, 0) 100%);
  mask-image: linear-gradient(0deg, rgb(140, 140, 192) 0%, rgb(139, 143, 197) 5%, rgba(134, 168, 231, 0) 50%, rgba(95, 251, 241, 0) 100%);
  -webkit-mask-size: 100% 100%;
          mask-size: 100% 100%;
}
.transition-section--active .section-content__svg {
  display: none !important;
}

.section-home__svg {
  position: absolute;
  filter: blur(20px);
}
.section-home__svg:first-of-type {
  right: -110px;
  bottom: 10vh;
}
.section-home__svg:last-of-type {
  left: -70px;
  top: 10vh;
  rotate: 210deg;
}
.section-home__svg svg {
  width: 225px;
  height: 250px;
}
.section-home__svg svg path {
  rotate: 270deg;
  animation: svgRotation 8s forwards cubic-bezier(0, 1.1, 0.12, 1);
}

@keyframes svgRotation {
  0% {
    rotate: 270deg;
  }
  100% {
    rotate: 360deg;
  }
}
#header-top {
  position: relative;
  top: 0;
}

.section-video {
  padding-top: 16px;
  height: calc(100vh - 156px);
  background-color: #EBEBEB;
}
.section-video__title {
  text-transform: capitalize;
  margin: 0 0 0 16px;
  color: #2A2A2A;
  font-size: 1.618rem;
}
.section-video__container {
  height: calc(100% - 72px);
  background-color: #2A2A2A;
  border-radius: 10px;
  aspect-ratio: 9/16;
  margin: 16px auto 0 auto;
}

.page-video .navigation__list li:nth-child(4) a::before {
  background-image: url(../assets/images/menuSvg.svg);
}

.page-video .navigation__list li:nth-child(1) a::before {
  background-image: none;
}

.page-credits .navigation__list li:nth-child(3) a::before {
  background-image: url(../assets/images/menuSvg.svg);
}

.page-credits .navigation__list li:nth-child(1) a::before {
  background-image: none;
}

.page-uikit .navigation__list li:nth-child(2) a::before {
  background-image: url(../assets/images/menuSvg.svg);
}

.page-uikit .navigation__list li:nth-child(1) a::before {
  background-image: none;
}

.page-uikit .section-uikit svg {
  width: 100%;
  height: 100%;
}/*# sourceMappingURL=app.css.map */