$c-bg--body: #1E1E1E;
$c-bg--section: #2A2A2A;
$c-bg--white: #EBEBEB;


$c-text: #2A2A2A;
$c-text--white: #EBEBEB;
$c-link: #55559B;

$size-text: 16px;

$family-text--corps: neue-haas-grotesk-display, sans-serif;
$family-text--title: 'Syne', sans-serif;


